<body>
    {% block req_modal %}
    <!-- Request Modal -->
    <div class="modal fade" id="requestModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="requestModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="requestModalLabel">Send Request to Order Tracker ?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% block req_modal_text %}{% endblock %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/request">
                <button type="button" class="btn btn-primary">Confirm Request</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
</body>