{% extends "base.html" %}
<html>
    <head>
        <meta charset="utf-8">
        <title>MSDS - {{ entity_name }}</title>
        <style>
            .carousel-control-next-icon,
            .carousel-control-prev-icon /*, .carousel-indicators */ {
                filter: invert(100%);
            }
        </style>
    </head>
    <body>
    {% block content %}
    <div class="container text-center">
        <h1>MSDS - {{ entity_name }}</h1>
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="CollapseFR CollapseEN">🇫🇷 / 🇬🇧</button>
        <div class="collapse multi-collapse in show" id="CollapseFR">
            <div id="carousel_msds_fr" class="carousel slide w-75 mx-auto" data-interval="false">
                <div class="carousel-inner">
                    {% for page in pages_dict_fr %}
                    {% if page == 1 %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <img class="d-block w-100" src={{ pages_dict_fr[page] }}>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel_msds_fr" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_msds_fr" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="collapse multi-collapse" id="CollapseEN">
            <div id="carousel_msds_en" class="carousel slide w-75 mx-auto" data-interval="false">
                <div class="carousel-inner">
                    {% for page in pages_dict_en %}
                    {% if page == 1 %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <img class="d-block w-100" src={{ pages_dict_en[page] }}>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel_msds_en" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_msds_en" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    {% endblock %}
    </body>

</html>